column_limit: 120
keep_simple_control_block_one_line: false
keep_simple_function_one_line: false
chop_down_parameter: true
extra_sep_at_table_end: true
spaces_inside_table_braces: true
align_table_field: true
break_after_table_lb: false
break_before_table_rb: false
double_quote_to_single_quote: true
